.hero {
    font-family: 'Inter', sans-serif;
    color: var(--whiteText);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-s {
    background-image: linear-gradient(to left, #ffffff, #ffffff, #ffffff, #23dcc0, #ffffff, #ffffff, rgb(255, 255, 255));
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 80px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(186, 255, 248);
    /* Keep the text color white */
    background-size: 200%;
    /* Expand background for animation effect */
    animation: text-animate 10s linear infinite;
}

@keyframes text-animate {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.text2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.text-section {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 80px;
}